# Environment variables
.env

# Go specific
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work

# Node specific
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env.local
.env.development.local
.env.test.local
.env.production.local
.pnpm-debug.log*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp.*
package-lock.json
yarn.lock
pnpm-lock.yaml

# Build outputs
build/
dist/
out/
.next/
.nuxt/
.cache/
coverage/

# IDE specific
.idea/
.vscode/
*.swp
*.swo

# OS specific
.DS_Store
Thumbs.db

# Rust specific
/target/
**/*.rs.bk
Cargo.lock
*.pdb 